target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
nbproject/private/
build/
nbbuild/
dist/
*.brk
*.class
*.log
Thumbs.db
.DS_Store
*.dat
ReporteAlumnos.txt
ReporteMaterias.txt
ReporteInscripciones.txt